@import "../styles/adminVariables.css";

/* Root page container */
.admin-timetable-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  /* background-color: var(--color-bg); */
  /* background-color: red; */
  padding: var(--space-lg);

  min-height: 100%;
}

/* Loading state (future-proof) */
.admin-timetable-page--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted);
  font-size: var(--text-sm);
}

@media (max-width : 750px) {
  .admin-timetable-page{
    padding: 5px;
  }
}