.mobile-subject-section{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subject-description-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.subject-status-show{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: url("../../../../../assets/minimal-monochromatic-purple-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.sub-stat{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 30px;
}
.sub-stats-heading{
    color: rgb(58, 58, 58);
    letter-spacing: 1px;
    display: flex;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
}
.detailed-status-template{
    display: flex;
    flex-direction: column;
}
.personal-stats-sub-res{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sub-res-helper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(205, 202, 202, 0.772);
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
}
.personal-data-stat-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub-res-title{
    /* font-size: 14px; */
    font-weight: 700;
    letter-spacing: 1px;
}