.construction-template{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    position: relative;
    /* background-color: teal; */
    padding: 20px;
    
    
}
.construction-body{
    position:absolute ;
    text-decoration: underline;
    cursor: pointer;
    /* background-color: #fff; */
}
.construction-alert-poster{
    /* font-size: 1.5rem; */
    /* font-weight: bold; */
    display: flex;
    gap: 10px;
    align-items: center;
}
