.add-relation-template{
background-color: #fff;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 20px;
overflow-y:scroll ;
}
.article-list-to-be-related{
    display: flex;

}