.article-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #efeeee;
  padding: 20px;
  /* border: 1px solid #e1e1e1; */
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08); */
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
  cursor: pointer;
}

/* .article-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
} */

/* Thumbnail */
.thumbnail-wrapper {
  width: 100%;
  height: 160px;
  background-color: #f4f4f4;
  overflow: hidden;
  border-radius: 8px;
}

.article-thumbnail {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
}

/* Info section */
.article-info {
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 1px;
}

.article-title {
  font-size: 12px;
  /* font-weight: 600; */
  color: #444343;
  margin: 0;
  letter-spacing: 1px;
}

.article-meta {
  font-size: 12px;
  color: #666;
}

.article-author {
  /* font-weight: 500; */
  color: #444;
}

.article-subject {
  background-color: #eef5ff;
  color: #276ef1;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
  width: fit-content;
}

.article-description {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
  margin-top: 4px;
}
.article-list-to-be-related{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media (max-width: 700px) {
  .article-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    transition: transform 0.2s ease;
    padding: 10px;
    border: 1px solid rgb(217, 213, 213);
    gap: 10px;
  }
  .thumbnail-wrapper{
    height: 100%;
    flex: 1;
  }
  .article-info{
    flex: 2;
  }
  .article-card:hover {
  transform: translateY(-3px);
  box-shadow: none;
}
}