.meta-panel {
  width: 280px;
  padding: 16px;
  background-color: white;
  /* border-right: 2px solid #e0e0e0; */
  border-radius: 8px;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: sans-serif;
  letter-spacing: 0.6px;
}

.meta-title {
  font-size: 1.2rem;
  /* font-weight: 600; */
  color:black;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.meta-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.meta-field label {
  /* font-weight: 500; */
  color: black;
}

.meta-field input,
.meta-field select,
.meta-field option,
.meta-field textarea {
   padding: 15px;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s ease;
  color: #007bff;
  background-color: #f4eeee;
}
.meta-field input{
 
}

.meta-field input:focus,
.meta-field select:focus,
.meta-field textarea:focus {
  border-color: #007bff;
}

.meta-field textarea {
  min-height: 60px;
  resize: vertical;
}

.meta-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  /* font-weight: 500; */
  margin-top: 8px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.save-btn:hover {
  background-color: #0056b3;
}
