.attendance-container {
  /* padding: 20px; */
  /* font-family: 'Segoe UI', Tahoma, sans-serif; */
  /* background: #f9f9f9; */
  border-radius: 10px;
}

.attendance-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.search-input,
.subject-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  width: 130px;
}

.table-wrapper {
  overflow-x: auto;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.attendance-table th,
.attendance-table td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.attendance-table th {
  background: #f4f4f4;
  font-weight: 600;
}

.attendance-table tr:hover {
  background: #f9f9f9;
}

.status-badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.status-badge.present {
  background-color: #4caf50; /* Green */
}

.status-badge.absent {
  background-color: #f44336; /* Red */
}

@media (max-width:700px) {
  .attendance-container {
    font-size: 14px;
  }
}