.desktop-template{
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
    overflow:hidden;
    /* font-size: 14px; */
    /* background-color: rgb(236, 233, 233); */
}
.desktop-header{
    /* background-color: red; */
}
.desktop-lower-part-big-screen{
    /* background-color: red; */
    margin: 20px;
    /* margin-top:60px; */
    /* display: grid;
    grid-template-columns: 200px 3fr 0.5fr; */
    overflow-y: auto;
    gap: 20px;
    display: flex;
    width: 100%;

}
.desktop-lower-part-small-screen{
    /* background-color: red; */
    margin: 20px;
    /* margin-top:60px; */
    /* display: grid;
    grid-template-columns: 200px 3fr; */
    overflow-y: auto;
    gap: 20px;
    display: flex;
}
.desktop-outlet{
    /* width: 100%; */
    /* background-color: rgba(225, 223, 223, 0.319); */
    flex: 3;
    overflow-y: auto;
    margin-bottom: 20px;
    padding:0px 25px;
    border-radius: 20px;
    /* overflow: hidden; */
}
.desktop-sidebar{
    /* background-color: red; */
    /* flex: 1; */
    width: 200px;
    /* max-width: 200px; */
    /* height: 100%; */
    /* padding-top: 25px; */
    margin-bottom: 20px;
    /* margin: 20px; */
    overflow-y: hidden;
    /* border-radius: 20px; */
    /* background-color: rgb(252, 250, 250); */
    /* background-color: rgba(225, 223, 223, 0.319); */
    display: flex;
    justify-content: start;
    border-right: 1px solid rgb(210, 207, 207);
    /* margin-left: 20px; */
}
.desktop-sidebar.collapsed {
  width: 80px;
  align-items: center;
  padding: 20px 5px;
  /* background-color: red; */
}
.ad-section{
    width: 100%;
}
@media (max-width:1024px) {
    .desktop-sidebar{
        max-width: 200px;
    }
}

