.mobile-layout-template{
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    position: relative;
    height: 100dvh;
    /* background-color: red; */
    /* font-size: 16px; */
}
.mobile-header{
    /* background-color: rgb(230, 226, 226); */
    
}
.mobile-main-area{
    /* background-color: green; */
    overflow-y: auto;
    /* padding: 0px 10px; */
}
.mobile-navigation{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.285);
   
}
.nav-list{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-page{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#mobile-link{
    text-decoration: none;
    color: black;
}
.nav-title{
    font-size: 0.875rem;
}
.nav-icon{
    font-size: 1.125rem;
}
