.assignments-list-container-ct{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
}
.assignment-card {
  background-color: #ffffff;
  border: 0.5px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  /* max-width: 420px; */
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08); */
  /* transition: transform 0.2s ease, box-shadow 0.3s ease; */
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  /* font-size: 12px; */
  gap: 10px;
  /* font-family: "Segoe UI", sans-serif; */
}

.assignment-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.assignment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  border-bottom: 0.3px solid rgb(212, 209, 209);
  /* margin-bottom: 10px; */
}

.assignment-title {
  /* font-size: 1.3rem; */
  display: flex;
  justify-content: start;
  align-items: start;
  color: #222;
  margin: 0;
  /* background-color: teal; */
}

.assignment-status {
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: 600;
  /* font-size: 0.85rem; */
}

.status-active {
  background-color: #d1f7c4;
  color: #2e7d32;
  border: 1px solid #a5d6a7;
}

.status-archived {
  background-color: #ffe0b2;
  color: #e65100;
  border: 1px solid #ffb74d;
}



.assignment-info {
  color: #444;
 display: flex;
 flex-direction: column;
 gap: 10px;
 /* background-color: teal; */
 align-items: start;

}

.assignment-footer {
  display: flex;
  justify-content: fixed-end;
  margin-top: 10px;
  /* background-color: red; */
}

.view-btn {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-btn:hover {
  background-color: #004c99;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .assignment-card {
    width: 95%;
    padding: 15px;
  }

  .assignment-title {
    /* font-size: 1.1rem; */
  }

  .assignment-info p {
    /* font-size: 0.9rem; */
  }
}
