.my-attendance-template{
    /* font-size: 14px; */
     width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: teal; */
}
.outer-list-attendance{
    /* height: 100dvh; */
   min-width: 75%;
   width: 100%;
   /* padding: 20px; */
   background-color: #fff;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   /* background-color: teal; */
   
}
.my-attendance-checkbox{
    cursor: pointer;
}
/* .attendance-criteria-template{
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px dotted gray;
    cursor: pointer;
    
} */
.attendance-criteria-template{
  position: relative;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  transition: transform 0.3s ease;

}
.attendance-criteria-template.marked {
  border: 1px solid #00b300;
}
.attendance-criteria-template.marked::before {
  content: "DONE";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 100px;
  text-align: center;
  background: #00b300;
  color: white;
  font-weight: bold;
  transform: rotate(-45deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* font-size: 12px; */
  padding: 3px 0;
  /* border-radius: 10px; */
}
.attendance-list-template{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.attendance-input{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.mark-attendance-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* font-size: 14px; */
    margin-top: 10px;   
}
.primary-display-attendance{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
}
.secondary-display-attendance{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.sec-dis-att-1{
    display: flex;
    gap: 20px;
}
.final-mark-att,.final-mark-att-1{
    padding: 10px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}
.final-mark-att{
    background-color: rgb(4, 190, 4);
}
.final-mark-att-1{
    background-color: crimson;
}
.user-notification-specify{
    position: absolute;
    padding: 20px;
    background-color: #fff;
    top: 50%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-over-lectures{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.close-icon{
    color: green;
    cursor: pointer;
}
.attendance-dashboard-template{

}
.dash-content-att{
    display: flex;
    flex-wrap: wrap;

}
.dash-content{

}
.dash-content-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;

}
.dash-content-2{
    flex: 2;
}