.chart-template-x{
    /* width: 100%; */
    /* background-color: red; */
    /* height: 200px; */
    /* https://grabient.com/HQdgLAbANKkwnPAzFAtABmAJnQRhruumpocRsGDiZVtBZGDOgKwsw4g1ZVA?style=linearGradient&steps=5&angle=45 */
}
