.swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
  width: 100%;
}
.chart-card {
  /* background: #fff; */
  background-color: #0f172a; 
  border-radius: 16px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  padding: 16px;
  height: 100%;   
}

@media (max-width:700px) {
  .swiper-slide{
    box-shadow: none;
  }
  .chart-card{
    box-shadow: none;
    border-radius: 10px;
    /* border-bottom-left-radius:0px;
    border-bottom-right-radius:0px; */
  }
}
 