.my-time-table-template{
    height: 100dvh;
    /* background-color: rgb(218, 203, 161); */
    /* padding: 15px; */
    font-size: var(--fs-sm);
}
.time-table-loaded-temmplate{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 90%; */
    /* background-color: green; */

}
.timetable-days-of-week{
    display: flex;
    /* font-size: 12px; */
    justify-content: space-evenly;
    /* padding: 10px; */
    border: 0.5px solid rgb(87, 87, 86);
    border-radius: 20px;
    align-items: center;
    gap: 5px;
    /* background-color: green; */
}
.active-day{
    background-color: green;
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.non-active-day{
    background-color: #fff;
    color: black;
    text-decoration: none;
}