.login-container{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(89, 86, 86); */
    background-color: #d5d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:white;
    padding: 10px 50px;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
}
.password-field,.username-field{
    /* width: 100%; */
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: rgb(197, 196, 196);
}
.username-field{

}
.password-field{

}
.login-submit-btn{
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}