.competitor-template{
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    text-decoration: none;
}
.my-competitor-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.competitor-name-field{
    font-size: 12px;
}
.whole-compare-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow-y: scroll;
    /* background-color: red; */
}