@import "../styles/adminVariables.css";

.semester-context {
  /* background-color: var(--color-white); */
  /* border: 1px solid var(--color-border); */
  /* border-left: 4px solid var(--color-primary); */

  /* padding: var(--space-md) var(--space-lg); */
  border-radius: var(--radius-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  margin-bottom: var(--space-lg);
}

/* Label */
.semester-context__label {
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: 0.05em;
   font-weight: 600;
  color: var(--color-text-muted);
}

/* Value */
.semester-context__value {
  font-size: var(--text-xs);
  font-weight: 600;
  color: var(--color-primary);
}
